/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

/*****************以上是reset***************/


/***************共用的東西.start******************/
*{
	font-family: Microsoft JhengHei;
}
:root {
	--main_orange: #FF9810;       
	--main_green: #4D870B;       
	--main_blue: #2962A8;       
	--inside_bg: #f1f1f1;       
}
.red{
	color: rgb(226, 0, 0);
}
.main_orange{
	background-color: #FF9810;
}
.main_orange_text{
	color: #FF9810;
}
.main_green{
	background-color: #4D870B;
}
.main_green_text{
	color: #4D870B;
}
.main_blue{
	background-color: #2962A8;
}
.main_blue_text{
	color: #2962A8;
}


body{
	background-color: #f1f1f1;
}

.bg_S{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.bg_E{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/*凸排*/
.indent-title-1{
    text-indent: -1rem;
    margin-left: 1rem;
}
/*凸排*/
.indent-title-25{
    text-indent: -2.5rem;
    margin-left: 2.5rem;
}


/*確認取消按鍵*/
.btn{
    width: 130px;
    display: inline-block;
    font-weight: 900;
    transition: .2s all ease;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.342);
}
.btn:hover{
    color: white;
    filter: brightness(.9);
}
.confirm{
    margin: 0 auto;
}
main .btn-secondary{
    background-color: #cccccc;
    border-color: #cccccc;
}
main .btn-secondary:hover{
    background-color: #acacac;
    border-color: #acacac;
}

/***************共用的東西.end******************/


/***************header.start***************/
.header_index{
	background-color: transparent;
    padding: .18rem 0;
}
.header_index a{
    display: block;
	max-width: 250px;
    padding: 1rem 0;
}
.header_index h1{
	width: 100%;
}
.header_index img{
	width: 200px;
}

/***************header.end***************/
/***************header2.start***************/
.navbar{
	background-color: #F5F4EC;
    padding: .8rem 0;
}
.navbar .logo_area{
    display: block;
	max-width: 250px;
    padding: 1rem 0;
}
.navbar h1{
	width: 100%;
}
.navbar img{
	width: 200px;
}
.navbar .navbar-nav a{
    padding: .8rem 1.5rem;
    border-radius: 50px;
    color: black;
    font-weight: 900;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-align: center;
}
.navbar .navbar-nav a:nth-child(2){
    margin: 0 15px;
}
.navbar .navbar-nav .notificationBtn.active{
    background:linear-gradient(#FF8A00,#ffa42e);
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
}
.navbar .navbar-nav .searchBtn.active{
    background:linear-gradient(#7AB536,#75c41c);
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
}
.navbar .navbar-nav .processBtn.active{
    background:linear-gradient(#1456A6,#2F73C5);
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
}
.navbar .navbar-nav a:nth-child(1):hover{
    background:linear-gradient(#FF8A00,#ffa42e);
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
}
.navbar .navbar-nav a:nth-child(2):hover{
    background:linear-gradient(#7AB536,#75c41c);
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
}
.navbar .navbar-nav a:nth-child(3):hover{
    background:linear-gradient(#1456A6,#2F73C5);
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
}
.navbar-collapse{
    flex-grow: 0;
    font:menu;
} 

/*平板*/	
@media screen and (min-width: 768px) and (max-width: 991.99px) {

    .navbar .navbar-nav a:nth-child(1){
        margin-top: 10px;
    }
    .navbar .navbar-nav a:nth-child(2){
        margin: 10px 0 ;
    }
}

/*手機*/	
@media (max-width: 767px) {

    .navbar .navbar-nav a:nth-child(1){
        margin-top: 10px;
    }
    .navbar .navbar-nav a:nth-child(2){
        margin: 10px 0 ;
    }
}

/***************header2.end***************/

/**************footer.start**************/
footer{
    position: relative;
}

footer .footer_logo img{
    width: 5.5rem;
}
footer .footer_word .footer_links a{
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .1rem;
}
footer .footer_word .footer_info {
    color: white;
    font-weight: 900;
    font-size: 1rem;
    line-height: 2.2rem;
    letter-spacing: .1rem;
}
/*筆電*/	
@media screen and (min-width: 922px) and (max-width: 1280px) {
    footer .footer_logo img{
        width: 5.5rem;
    }
}
/*平板*/	
@media screen and (min-width: 768px) and (max-width: 991px) {

}
/*手機*/	
@media  (max-width: 767px) {

    footer .footer_logo img{
        width: 5rem;
    }
}
/**************footer.end**************/



/***************首頁.S****************/
/*links_banner.S*/
.links_banner h2{
    color: #252525;
    margin-top: 3rem;
}
.links_banner h2 span{
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: .1rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
}
.links_banner h2 p{
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: .3rem;
}
.links_banner .main_btn{
    display: block;
    width: 18rem;
    border-radius: 3rem;
    padding: 2.5rem;
    margin-left: 0 auto;
    box-shadow: 0 0 10px rgba(92, 83, 65, 0.384);
    overflow: hidden;
    position: relative;
    background:linear-gradient(#FF8A00, #FFCD8C);
    overflow: hidden;
    text-shadow: 2px 2px 8px #843700;
    transition: all .2s ease;
}
.links_banner .main_btn:hover{
    box-shadow: 0  0 15px #ff8800;
}
.links_banner .main_btn:nth-child(2):hover{
    box-shadow: 0  0 15px #7AB536;
}
.links_banner .main_btn:nth-child(3):hover{
    box-shadow: 0  0 15px #2962A8;
}
.links_banner .main_btn:nth-child(2){
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background:linear-gradient(#7AB536, #9CE04E);
    text-shadow: 2px 2px 8px #274900
}
.links_banner .main_btn:nth-child(3){
    background:linear-gradient(#2962A8, #3D95FF);
    text-shadow: 2px 2px 8px #001F45
}
.links_banner .main_btn span{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    letter-spacing: .2rem;
    font-weight: 900;
    font-size: 2.2rem;
    text-align: center;
    color: rgb(255, 255, 255);

}
.links_banner .main_btn:before {
    content: "";
    position: absolute;
    width: 320px;
    height: 300px;
    border-radius: 140px;
    background-color: #FF8A00;
    top:60px;
    left: 30%;
    transform: translate(-50%);
    transition: all 1s;
}
.links_banner .main_btn::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 140px;
    background-color: #FF8A00;
    opacity: .5;
    top:60px;
    left:80%;
    transform: translate(-50%);
    transition: all 1s;
}
.links_banner .main_btn:nth-child(2):before {
    background-color: #5A9B0E;
}
.links_banner .main_btn:nth-child(2):after {
    background-color: #5A9B0E;
    opacity: .5;
}
.links_banner .main_btn:nth-child(3):before {
    background-color: #0E51A3;
}
.links_banner .main_btn:nth-child(3):after {
    background-color: #0E51A3;
    opacity: .5;
}
.links_banner .main_btn:hover:before {
    top: 50px;
    animation: wave 5s infinite linear;
}
.links_banner .main_btn:hover::after {
    top: 50px;
    animation: wave2 5s infinite linear;
}
    
@keyframes wave {
    0% {
        transform: translate(-50%) rotate(-180deg);
        
    }
    100% {
        transform: translate(-50%) rotate(360deg);
    }
}
@keyframes wave2 {
    0% {
        transform: translate(-40%) rotate(-180deg);
        
    }
    100% {
        transform: translate(-40%) rotate(360deg);
    }
}


.links_banner .card{
    width: 47%;
    padding: .4rem;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.144);
    color: #0F0F0F;
    transition: all .2s ease-in-out;
}
.links_banner .card img{
    max-width: 10rem;
    margin: 0 auto;
}
.links_banner .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.links_banner .card .card-text{
    font-weight: 900;
    font-size: 1.17rem;
    line-height: 2rem;
    letter-spacing: .1rem;
}
.links_banner .card .go_web{
    width: 42px;
    height: 42px;
    position: relative;
    overflow: hidden;
    align-self: end;
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 50%;
    transition: all .2s ease;
}
.links_banner .card:hover .go_web{
    width: 150px;
    height: 42px;
    border-radius: 1.5rem;
}
.links_banner .card:hover .go_web span{
    display: inline-block;
}
.links_banner .card .go_web span{
    display: none;
    white-space: nowrap;
}
.links_banner .card_factory:hover{
    box-shadow:0 0 18px #4d870b9a;
}
.links_banner .card_car:hover{
    box-shadow:0 0 18px #ff9710b6;
}

.links_banner .card_factory .go_web{
    background-color: var(--main_green) ;
}

.links_banner .card_car .go_web{
    background-color: var(--main_orange);
}
/*links_banner.E*/
/*petition_notice.S*/
.petition_notice{
    margin: 90px 0 80px 0;
    height: 600px;
}
.petition_notice h3{
    color: #252525;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: .2rem;
    overflow: hidden;
    position: relative;
    justify-content: center;
    display: flex;

}
.petition_notice .title{
    position: relative;
    padding: 0 25px;
    background-color: #F5F4EC;
}
.petition_notice h3::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #656565;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -.5px;
}
.petition_notice .subtitle{
    margin-bottom: 5rem;
}
.petition_notice .subtitle p{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.5rem;
    color: #252525;
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 2.2rem;
    letter-spacing: .2rem;
}
.petition_notice .subtitle p .red{
    color: #E43D3D;
}
.petition_notice .card{
    border: 0;
    background-color: transparent;
}
.petition_notice .card img{
    max-width: 7.5rem;
    margin: 0 auto;
}
.petition_notice .card-text{
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: .1rem;
    padding-left: .8rem;
}
/*筆電*/	
@media screen and (min-width: 922px) and (max-width: 1280px) {
    .petition_notice{
        height: 700px;
    }
}
/*平板*/	
@media screen and (min-width: 768px) and (max-width: 991px) {
    .petition_notice .subtitle p {
        width: 100%;
    }
    .petition_notice {
        height: 800px;
    }
}
/*手機*/	
@media (max-width: 767px) {
    .links_banner h2 p{
        font-size: 4.5rem;
    }
    .links_banner .main_btn{
        width: 100%;
        margin: 0 auto;
    }
	.links_banner .card{
        width: 100%;
        margin: 0 auto;
    }
    .petition_notice{
        height: auto;
    }
    .petition_notice .subtitle p{
        width: 90%;
    }

}
/*petition_notice.E*/
/*tel_num.S*/
.tel_num{
    margin: 0px 0 105px 0;
    padding-top: 50px;
    height: 500px;
}
.tel_num h3{
    color: #252525;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: .2rem;
    overflow: hidden;
    position: relative;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}
.tel_num .title{
    position: relative;
    padding: 0 25px;
    background-color: #F5F4EC;
}
.tel_num h3::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #656565;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -.5px;
}
.tel_num ul li{
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 2.5rem;
    position: relative;
}
.tel_num ul li::before{
    content:"";
    width: 10px;
    height: 10px;
    background-color: var(--main_orange);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -5px;
}


/*筆電*/	
@media screen and (min-width: 922px) and (max-width: 1280px) {
    .tel_num{
        height: 400px;
    }
}
/*平板*/	
@media screen and (min-width: 768px) and (max-width: 991px) {
    .tel_num{
        height: 450px;
    }
}
/*手機*/	
@media (max-width: 767px) {
    .tel_num{
        height: auto;
    }
    .tel_num ul li{
        padding-left: 80px;
    }
    .tel_num ul li::before{
        left: 55px;
    }

}
/*tel_num.E*/
/*******************************首頁.E****************************/

/*****************notification.S**************/
/*告知書*/
.notification .text-area .box{
    height: 400px;
    overflow-y:auto;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 10px #cccccc;
}
.notification .text-area p{
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.9rem;
}
.notification .text-area span{
    display: block;
    font-size: 1.05rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2rem;
}
.notification .text-area .inside_box{
    border: 1px solid rgb(189, 189, 189);
    border-radius: 20px;
    padding: 1rem;
}
.notification .text-area .inside_box p{
    font-size: 1.5rem;
}
.notification .box::-webkit-scrollbar-track {
    background-color:transparent;
    
}
.notification .box::-webkit-scrollbar {
    width: 7px;
}
.notification .box::-webkit-scrollbar-button {
    background: transparent;
    border-radius: 4px;
}
.notification .box::-webkit-scrollbar-track-piece {
    background: transparent;
}
.notification .box::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);

}
/*我同意checkbox*/
.notification .styled-checkbox {
    position: absolute;
    opacity: 0;
}
.notification .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.notification .styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #cccccc;
}
.notification .styled-checkbox:hover + label:before {
    background: var(--main_orange);
}
.notification .styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.notification .styled-checkbox:checked + label:before {
    background: var(--main_orange);
}
.notification .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.notification .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
.notification .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}
/*陳情表單填寫*/
.notification_form form{
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 0 10px #cccccc;
}
.notification_form form .title{
    position: relative;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.9rem;
}
.notification_form form .title::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
    height: 5px;
    width: 100px;
    border-radius: 2px;
    background-color: var(--main_orange);
}
/*STEP*/
.notification_form form .step{
    color: #d8d8d8;
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
}
.notification_form form .step .badge{
    padding: .35em .6em;
    background-color:#d8d8d8;
}
.notification_form form .step .text.active{
    color: #494949;
}
.notification_form form .step .badge.active{
    background-color:var(--main_orange);
}
/*EMAIL*/
.notification_form form .error_text{
    display: block;
    margin-top: 5px;
    font-size: 0.875rem;
    opacity: .8;
}
.notification_form .error{
    border: 1px solid rgb(228, 1, 1);
}


/*檔案*/
.notification .files{
    width: 170px;
    padding: 5px 0;
    color: #474747;
    border-bottom: 1px solid #dfdfdf;
    cursor: default;
}
.notification .files .fa-trash-can{
    color: #bbbbbb;
    cursor: pointer;
}
.notification .files .fa-trash-can:hover{
    color: rgb(236, 67, 67);
}


/*平板*/	
@media screen and (min-width: 768px) and (max-width: 991.99px) {
    .notification .text-area .box{
        height: 850px;
    }
}
/*手機*/	
@media  (max-width: 767px) {
    .notification .text-area .box{
        height: 520px;
    }
    .notification_form form{
        padding: 1.5rem;
    }
}
/*****************notification.E**************/

/*****************search_page.S**************/

.search_page form{
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 0 10px #cccccc;
}
.search_page form .title{
    position: relative;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.9rem;
}
.search_page form .title::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
    height: 5px;
    width: 100px;
    border-radius: 2px;
    background-color: var(--main_green);
}
.search_page .sec_title{
    border-bottom: 2.5px solid var(--main_green);
    padding: 0 0 10px 0;
}
.search_page .inside_form{
    border-radius: 20px;
    line-height: 1.5rem;
    /* border: 1px solid green; */
}
.search_page .inside_form_title,.inside_form_info{
    border-bottom: 1px dashed #4d870b93;
}
.search_page .inside_form .inside_form_title:nth-last-of-type(2){
    border-bottom: 0;
}
.search_page .inside_form .inside_form_info:last-of-type{
    border-bottom: 0;
}
.search_page .inside_form_title{
    /* background-color: rgba(1, 136, 53, 0.062); */
    font-weight: 900;
}


.search_page .data_list thead tr{
    background-color: #4d870b15;
    border-bottom: 2px solid #4D870B;
}
.search_page .data_list thead th{
    font-weight: 500;
}
.search_page .data_list .table tbody tr:nth-child(even) td {
    background-color: #f7f7f7;
}
.search_page .btn_view{
    width: auto;
    background:linear-gradient(#7AB536,#75c41c);
    color: white;
}
.search_page .btn_view:hover{
    color: white;
    filter: brightness(.9);
}

/*平板*/	
@media screen and (min-width: 768px) and (max-width: 991.99px) {
    .search_page .text-area .box{
        height: 850px;
    }
}
/*手機*/	
@media (max-width: 767px) {
    .search_page .text-area .box{
        height: 520px;
    }
    .search_page .inside_form_title{
        border-bottom: 0;
    }
}
/*****************search_page.E**************/
/*****************petition_process.S**************/
.petition_process{
    position: relative;
}
.petition_process .process_img img{
    width:75% ;
}
.petition_process h2{
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
}
.petition_process .text-area p{
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 1px;
}
.petition_process .text-area span{
    display: block;
    font-size: 1.05rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 2rem;
}

/*平板*/	
@media screen and (min-width: 768px) and (max-width: 991.99px) {
    .petition_process .process_img img{
        width:90% ;
    }
}
/*手機*/	
@media (max-width: 767px) {
    .petition_process .process_img img{
        width:85% ;
        display: block;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
}
/*****************petition_process.E**************/



