

@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap);

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif ;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
    color: var(--black);
}
a:hover {
    color: var(--primary);
}
/*****************以上是reset***************/


/***************共用的東西.start******************/
*{
	font-family: Microsoft JhengHei;
}
:root {
	--primary: #8A2914;       
	--secondary: #FFDF6B;       
	--black: #2c2c2c;              
}

.primary{
	background-color: #8A2914;
}
.primary_text{
	color: #8A2914;
}
.secondary{
	background-color: #FFDF6B;
}

.black_text{
	color: #2F2F2F;
}


body{
	background-color: #F7F3EE;
}


/*凸排*/
.indent-title-1{
    text-indent: -1rem;
    margin-left: 1rem;
}
/*凸排*/
.indent-title-25{
    text-indent: -2.5rem;
    margin-left: 2.5rem;
}
.transform180{
    transform: rotateX(180deg);
}
/*背景.S*/
.base{
    position: relative;
}
.base .bg{
    position: absolute;
    object-fit: cover;
    bottom: 0;
    width: 100%;
}
/*背景.E*/

/*container.S*/
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
    
}
/*container.E*/
/***************共用的東西.end******************/

/***************header.start***************/
.navbar{
	background-color: #F5F4EC;
    padding: .8rem 0;
    box-shadow: 0 2px 8px rgb(202, 202, 202);
}
.navbar .logo_area{
    display: block;
	max-width: 250px;
    padding: 1rem 0;
}
.navbar h1{
	width: 100%;
}
.navbar img{
	width: 360px;
}
.navbar .navbar-nav a{
    padding: .8rem 1.5rem;
    border-radius: 50px;
    color: black;
    font-weight: 900;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-align: center;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--primary);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary);
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
/*平板*/	
@media screen and (min-width: 768px) and (max-width: 991.99px) {


}

/*手機*/	
@media (max-width: 767px) {

    .navbar img{
        width:300px;
    }
}

/***************header.end***************/

/**************footer.start**************/
footer{
    position: relative;
    background-color: var(--secondary);
}

.JQ_footer{
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary);
}
footer ul li p,a{
    font-weight: 900;
    font-size: .95rem;
    letter-spacing: 1px;
    line-height: 2rem;
    text-decoration: dashed;
}
footer ul li p{
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}
footer ul li a{
    color: var(--black);
    border: 2px dashed transparent;
    padding: 3px;
}
footer ul li a:hover{
    border: 2px dashed var(--primary);
    background-color: white;
}
footer ul {
    position: relative;
    z-index: 2;
}

footer .footer_flower,.footer_flower2{
    position: absolute;
    top: 0;
    left: 0;
}
footer .footer_flower2{
    position: absolute;
    right: 0;
    transform: scaleX(-1);
}


/*筆電*/	
@media screen and (min-width: 922px) and (max-width: 1280px) {
   
}
/*平板*/	
@media screen and (min-width: 768px) and (max-width: 991px) {

}
/*手機*/	
@media  (max-width: 767px) {
    footer .footer_logo img{
        width: 5rem;
    }
    footer .footer_flower,.footer_flower2{
        display: none;
    }
}
/**************footer.end**************/



/***************首頁.S****************/
.marquee {
    padding: 0;
    box-shadow: 0 0 10px #afafaf;
    border-radius: 15px;
    height: 75px;
    background-color: #ffffff;
    overflow: hidden;
}
.marquee .title {
    width: 30%;
    padding: 0 40px;
    background-color: white;
    color: var(--primary);
    border-radius: 15px 0 0 15px;
    font-weight: 900;
    font-size: 2.5rem;
}
h2.title{
    position: relative;
    font-weight: 900;
    letter-spacing: 1.5px;
    font-size: 2rem;
}
h2.title::before{
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    top: 2px;
    left: 0;
    background-image: url('../images/title_flower.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}



