
<section class="base pb-5">
    <img src="./images/bg.png" alt="" class="bg">
    <img src="./images/bird.png" alt="" class="bird">
    <img src="./images/tree_bird.png" alt="" class="tree_bird">
    <div class="container bg-body rounded-3 shadow mt-5 p-3" >
        <div class="row">
            <div class="col-md-12">
                <h2 class="title mb-4">
                    <span class="ms-5">購物車</span>
                </h2>
            </div>
            <div class="col-md-12 mb-4">
                <div class="table-responsive">
                    <table class="table " style="min-width: 800px;">
                        <thead >
                            <tr>
                                <th style="width: 15%;"></th>
                                <th class="text-nowrap">商品名稱</th>
                                <th class="text-nowrap" >單價</th>
                                <th class="text-nowrap">數量</th>
                                <th class="text-nowrap">刪除</th>
                                <th class="text-nowrap" >總價</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="./images/pro_91_2.jpg" alt="" style="width: 150px;">
                                </td>
                                <td >引擎保護劑 120cc</td>
                                <td>$250</td>
                                <td><input type="number" value="1" class="form-control" style="max-width: 100px;"></td>
                                <td>
                                    <button class="btn btn-danger">刪除</button>
                                </td>
                                <td>$250</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 text-end mb-5">
                <p class="fw-bold fs-4">總價: $250</p>
            </div>
            <div class="col-md-12 text-end">
                <a href="" class="btn primary text-white ">結帳</a>
            </div>
                
                
        </div>
    </div>
</section>




<script>

</script>