<!-- background_top.S-->
<picture class="rellax bg_S" data-rellax-speed="3">
    <!-- <source srcset="" media="(min-width: 576px) and (max-width: 991.99px)"> -->
    <source srcset="./images/orange_bgPhone1.png" media="(min-width: 359px) and (max-width: 575.99px)">
    <img src="./images/orange_bg1.png" alt="橙色色塊背景">
</picture>
<picture class="rellax bg_S" data-rellax-speed="-1">
    <!-- <source srcset="" media="(min-width: 576px) and (max-width: 991.99px)"> -->
    <source srcset="./images/orange_bgPhone2.png" media="(min-width: 359px) and (max-width: 575.99px)">
    <img src="./images/orange_bg2.png" alt="橙色色塊背景">
</picture>
<!-- background_top.E-->
<section class="links_banner">
    <div class="container p-4">
        <div class="row">
            <div class="col-12">
                <h2>
                    <span>嘉義縣政府</span>
                    <p>線上陳情系統</p>
                </h2>
            </div>
            <div class="col-12 col-xl-4  p-4 p-lg-5 mt-4">
                <a href="javascript:void(0);" title="我要陳情" class="main_btn" onclick="changeForm('notification')">
                    <span>我要陳情</span>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>

                </a>
                <a href="javascript:void(0);" title="案件查詢" class="main_btn" onclick="changeForm('search')">
                    <span>案件查詢</span>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                </a>
                <a href="javascript:void(0);" title="陳情流程" class="main_btn" onclick="changeForm('petition_process')">
                    <span>陳情流程</span>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                </a>
            </div>
            <div class="col-12 col-xl-8 p-4 p-lg-5 mt-4">
                <div class="d-md-flex justify-content-md-between ">
                    <a href="" title="環保陳情網站" class="card card_factory mb-5 mb-md-0">
                        <img src="./images/factory.svg" class="card-img-top" alt="公害污染icon">
                        <div class="card-body">
                            <p class="card-text">有關於公害污染案件嘉義縣內可直接電話通報環保局05-3620808，或至<span
                                    class="main_green_text">環保陳情網站</span>反應。
                            </p>
                            <button type="button" class="btn go_web">
                                <i class="fa-solid fa-arrow-right"></i>
                                <span>前往網站</span>
                            </button>
                        </div>
                    </a>
                    <a href="" title="警察局交通違規檢舉網站" class="card card_car">
                        <img src="./images/car.svg" class="card-img-top" alt="交通違規icon">
                        <div class="card-body">
                            <p class="card-text">交通違規檢舉案件請多加利用110專線，或至<span
                                    class="main_orange_text">本縣警察局交通違規檢舉專區</span>。
                            </p>
                            <button type="button" class="btn go_web">
                                <i class="fa-solid fa-arrow-right"></i>
                                <span>前往網站</span>
                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="petition_notice">
    <div class="container">
        <div class="row">
            <h3 class="col-12 text-center">
                <span class="title">陳情須知</span>
            </h3>
            <div class="col-12 subtitle">
                <p>人民陳情案件，有下列情形之一者，承辦單位得依行政程序法第一百七十三條及本府分層負責權限規定，簽准「<span class="red">不予處理</span>」：</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 p-4 mb-5 mb-md-0" data-aos="fade-up" data-aos-once="true"
                data-aos-duration="1000">
                <div class="card">
                    <img src="./images/no_name.png" class="card-img-top" alt="icon">
                    <div class="card-body">
                        <p class="card-text">無具體內容、未具姓名、住址、電子郵件地址者。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 p-4 mb-5 mb-md-0" data-aos="fade-up" data-aos-once="true"
                data-aos-duration="1000">
                <div class="card">
                    <img src="./images/repeat.png" class="card-img-top" alt="icon">
                    <div class="card-body">
                        <p class="card-text">同一事由經予適當處理並已明確答覆兩次後，而仍一再陳情者。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 p-4 mb-5 mb-md-0" data-aos="fade-up" data-aos-once="true"
                data-aos-duration="1000">
                <div class="card">
                    <img src="./images/many_office.png" class="card-img-top" alt="icon">
                    <div class="card-body">
                        <p class="card-text">非主管陳情內容之機關，接獲陳情人以同一事由分向各機關陳情者。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 p-4  mb-md-0" data-aos="fade-up" data-aos-once="true"
                data-aos-duration="1000">
                <div class="card">
                    <img src="./images/fake.png" class="card-img-top" alt="icon">
                    <div class="card-body">
                        <p class="card-text">提醒大家，請勿為私人恩怨報案、或報假案。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tel_num">
    <div class="container">
        <div class="row">
            <h3 class="col-12 text-center">
                <span class="title">緊急事件</span>
            </h3>
            <div class="col-md-12 d-md-flex justify-content-around">
                <ul>
                    <li>犯罪事件請撥打 110</li>
                    <li>火警及救難事件 119</li>
                    <li>全國婦幼保護專線 113</li>
                    <li>反詐騙諮詢專線 165</li>
                </ul>
                <ul>
                    <li>停電搶修暨客服專線 1911</li>
                    <li>全國消費者服務專線 1950</li>
                    <li>生命線 1995</li>
                    <li>交通號誌維修 0800-588579</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<script>
    //aos
    AOS.init();
    //滾動視差
    var rellax = new Rellax('.rellax');

    $(".card_factory").hover(function () {
        $(".card_car").css("opacity", ".5");
    }, function () {
        $(".card_car").css("opacity", "1");
    });
    $(".card_car").hover(function () {
        $(".card_factory").css("opacity", ".5");
    }, function () {
        $(".card_factory").css("opacity", "1");
    });
</script>