<section class="base pb-5">
    <img src="./images/bg.png" alt="" class="bg">
    <img src="./images/bird.png" alt="" class="bird">
    <img src="./images/tree_bird.png" alt="" class="tree_bird">
    <div class="container ">
        <div class="row my-5">
            <div class="col-md-12 mb-5">
                <div class="marquee">
                    <div class="d-flex h-100">
                        <div class="title text-center">
                            <i class="fa fa-bullhorn mt-3"></i>
                        </div>
                        <div class="d-flex align-items-center" style="width: 90%;">
                            <div class="marquee_slick w-100">
                                <div class="fw-bold fs-5">健康飲食要好水   好茶  好咖啡～～促進新陳代謝！！ 好水的條件要有好 麥飯石！！   好茶 好咖啡 都是後潤回甘！！</div>
                                <div class="fw-bold fs-5">健康飲食要好水   好茶  好咖啡～～促進新陳代謝！！ 好水的條件要有好 麥飯石！！   好茶 好咖啡 都是後潤回甘！！</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="main_carousel">
                    <div class="main_img">
                        <img src="./images/home_img_01.png" alt="" class="w-100">
                    </div>
                    <div class="main_img">
                        <img src="./images/home_img_02.png" alt="" class="w-100">
                    </div>
                    <div class="main_img">
                        <img src="./images/home_img_03.png" alt="" class="w-100">
                    </div>
                    <div class="main_img">
                        <img src="./images/home_img_04.png" alt="" class="w-100">
                    </div>
                    <div class="main_img">
                        <img src="./images/home_img_05.png" alt="" class="w-100">
                    </div>
                    <div class="main_img">
                        <img src="./images/home_img_06.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row  mb-5">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="title mb-3">
                    <span class="ms-5">節目預告</span>
                </h2>
                <div class="program_carousel">
                    <div class="">
                        <img src="./images/default.png" alt="" class="w-100">
                    </div>
                    <div class="">
                        <img src="./images/default.png" alt="" class="w-100">
                    </div>
                    <div class="">
                        <img src="./images/default.png" alt="" class="w-100">
                    </div>
                    <div class="">
                        <img src="./images/default.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="title mb-3">
                    <span class="ms-5">慈善義賣</span>
                </h2>
                <div class="sale_carousel">
                    <a href="" class="card m-1">
                        <img src="./images/medical-stone.gif" class="card-img-top p-2" alt="">
                        <div class="card-body">
                            <p class="card-text">麥飯石</p>
                        </div>
                    </a>
                    <a href="" class="card m-1">
                        <img src="./images/10.gif" class="card-img-top p-2" alt="">
                        <div class="card-body">
                            <p class="card-text">引擎保護劑</p>
                        </div>
                    </a>
                    <a href="" class="card m-1">
                        <img src="./images/cofe.gif" class="card-img-top p-2" alt="">
                        <div class="card-body">
                            <p class="card-text">低因有機精品咖啡</p>
                        </div>
                    </a>
                    <a href="" class="card m-1">
                        <img src="./images/tea.gif" class="card-img-top p-2" alt="">
                        <div class="card-body">
                            <p class="card-text">高兒茶素-羽冠茶</p>
                        </div>
                    </a>
                    <a href="" class="card m-1">
                        <img src="./images/16.png" class="card-img-top p-2" alt="">
                        <div class="card-body">
                            <p class="card-text">道緣五明機油</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>




<script>
    //aos
    AOS.init();
    //滾動視差

    $('.main_carousel').slick({
        dots: true,
        speed: 1000,
        autoplay: true,
        infinite: true,
    });
    
    $('.program_carousel').slick({
        dots: true,
        speed: 1000,
        autoplay: true,
        infinite: true,
        arrows: false,
    });
    $('.sale_carousel').slick({
        dots: true,
        speed: 1000,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        autoplay: true,
        infinite: true,
        arrows: false,
    });

    //跑馬燈
    $('.marquee_slick').slick({
        speed: 20000,
        autoplay: true,
        autoplaySpeed: 0,
        centerMode: true,
        cssEase: 'linear',
        slidesToShow: 1,
        slidesToScroll: 1,
        variableWidth: true,
        infinite: true,
        initialSlide: 1,
        arrows: false,
        buttons: false
    });
</script>