<section class="links_banner">
    <div class="container p-4">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>
                    <span>嘉義縣政府</span>
                    <p>線上陳情系統</p>
                </h2>
            </div>
            <div class="col-12 mb-5">
                <h2>
                    <span>嘉義縣政府</span>
                    <p>線上陳情系統</p>
                </h2>
            </div>
            <div class="col-12 mb-5">
                <h2>
                    <span>嘉義縣政府</span>
                    <p>線上陳情系統</p>
                </h2>
            </div>
            <div class="col-12 mb-5">
                <h2>
                    <span>嘉義縣政府</span>
                    <p>線上陳情系統</p>
                </h2>
            </div>
            <div class="col-12 mb-5">
                <h2>
                    <span>嘉義縣政府</span>
                    <p>線上陳情系統</p>
                </h2>
            </div>
            <div class="col-12 mb-5">
                <h2>
                    <span>嘉義縣政府</span>
                    <p>線上陳情系統</p>
                </h2>
            </div>
            <div class="col-12 mb-5">
                <h2>
                    <span>嘉義縣政府</span>
                    <p>線上陳情系統</p>
                </h2>
            </div>
            <div class="col-12 mb-5">
                <h2>
                    <span>嘉義縣政府</span>
                    <p>線上陳情系統</p>
                </h2>
            </div>
            <div class="col-12 mb-5">
                <h2>
                    <span>嘉義縣政府</span>
                    <p>線上陳情系統</p>
                </h2>
            </div>
            <div class="col-12 mb-5">
                <h2>
                    <span>嘉義縣政府</span>
                    <p>線上陳情系統</p>
                </h2>
            </div>
        </div>
    </div>
</section>




<script>
    //aos
    AOS.init();
    //滾動視差
</script>