
<section class="base pb-5">
    <img src="./images/bg.png" alt="" class="bg">
    <img src="./images/bird.png" alt="" class="bird">
    <img src="./images/tree_bird.png" alt="" class="tree_bird">
    <div class="container bg-body rounded-3 shadow mt-5 p-3"  style="max-width: 600px;" >
        <div class="row">
            <div class="col-md-12">
                <h2 class="title mb-4">
                    <span class="ms-5">修改會員資料</span>
                </h2>
            </div>
            <div class="col-md-12 mt-4 mb-4">
                <div class="">
                    <label for="" class="form-label fw-bold">姓名 :</label>
                    <input type="text" class="form-control" value="王小明">
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="">
                    <label for="" class="form-label fw-bold">手機 :</label>
                    <input type="text" class="form-control" value="09123456789" disabled>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="">
                    <label for="" class="form-label fw-bold">Email :</label>
                    <input type="email" class="form-control" value="XXX@gmail.com">
                </div>
            </div>
            <div class="col-md-12 mb-5">
                <div class="">
                    <label for="" class="form-label fw-bold">地址 :</label>
                    <div class="d-md-flex align-items-center">
                        <select name="" id="" class="form-select" >
                            <option value="">縣市</option>
                        </select>
                        <select name="" id="" class="form-select mx-md-2 my-2 my-md-0"  >
                            <option value="">區</option>
                        </select>
                    </div>  
                </div>
                <input type="email" class="form-control mt-2" value="新竹市東區幸福里6號">
            </div>
            <div class="col-md-12">
                <a href="/DYW/main.html#template/member.html" class="btn primary text-white ">儲存</a>
                <a href="/DYW/main.html#template/member.html" class="btn btn-light ms-2">取消</a>
            </div>
        </div>
    </div>
</section>




<script>

</script>