
<section class="base pb-5">
    <img src="./images/bg.png" alt="" class="bg">
    <img src="./images/bird.png" alt="" class="bird">
    <img src="./images/tree_bird.png" alt="" class="tree_bird">
    <div class="container bg-body rounded-3 shadow mt-5 p-3" style="max-width: 600px;">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title mb-4">
                    <span class="ms-5">會員資料</span>
                </h2>
            </div>
            <div class="col-md-12 mt-4 mb-4">
                <div class="">
                    <label for="" class="form-label fw-bold">姓名 :</label>
                    <span>王小明</span>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="">
                    <label for="" class="form-label fw-bold">手機 :</label>
                    <span>09123456789</span>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="">
                    <label for="" class="form-label fw-bold">Email :</label>
                    <span>XXX@gmail.com</span>
                </div>
            </div>
            <div class="col-md-12 mb-5">
                <div class="">
                    <label for="" class="form-label fw-bold">地址 :</label>
                    <span>新竹市東區幸福里6號</p>
                </div>
            </div>
            <div class="col-md-12">
                <a href="/DYW/main.html#template/member_edit.html" class="btn primary text-white ">修改會員</a>
                <a href="/DYW/main.html#template/password.html" class="btn primary text-white ms-2">修改密碼</a>
            </div>
                
                
        </div>
    </div>
</section>




<script>

</script>