<nav class="navbar navbar-expand-xl navbar-light secondary py-1 inside">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="javascript:changeContent('nature')">自然療法介紹</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:changeContent('qigong')">君子密宗功教學</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">氣脈穴道療法</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">健康煮廚</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">自然療法見證</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">自然療法見證文檔</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">健康新知集散</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="base pb-5">
    <img src="./images/bg.png" alt="" class="bg">
    <img src="./images/bird.png" alt="" class="bird">
    <img src="./images/tree_bird.png" alt="" class="tree_bird">
    <div class="container bg-body rounded-3 shadow ">
        <div class="my-5 p-3 content-item" id="nature">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title mb-3">
                        <span class="ms-5">自然療法介紹</span>
                    </h2>
                    <p class="fw-bold lh-base mb-4">
                        自然療法起源於我國古代，其中有針灸、氣功、推拿、按摩、食療、運動、打坐等療法，已為人民健康作出貢獻。目前，自然療法在歐洲、美洲及亞洲一些國家頗為盛行。如美國、澳大利亞都有自然療法學院，日本有自然療法醫院、學會。台灣於民國七十一年四月三日始成立自然療法學會。
                    </p>
                    <p class="fw-bold lh-base mb-4">
                        國內最早介紹自然療法，當推國父孫中山先生。因國父的胃病，幾於不治幸得日本自然療醫學家高野太吉所治癒而加以弘揚。其實西方之自然療法，即是中醫療法。美國國立衛生研究院於近年成立了替代醫學辦公室。
                    </p>
                    <p class="fw-bolder lh-base by-5 primary_text">
                        壹、依據
                    </p>
                    <ol  class="fw-bold lh-base mb-4 ps-3" style="list-style: decimal;">
                        <li>世界衛生組織及國際積極發展傳統暨補充另類醫學、中醫藥生物科
                        技蓬勃發展進行中－針對西方醫學的化學藥物副作用、長期使用藥
                        效降低且副作用加強等問題及其對老年及慢性疾病的療效無法滿
                        足後，開始將注意力轉向崇尚自然、天然藥物的CAM（補充另類醫
                        學）為主軸。
                        </li>
                        <li>行政院衛生署國民建康局申請補助辦法</li>
                        <li>本學會成立之宗旨。</li>
                    </ol>
                    <p class="fw-bolder lh-base by-5 primary_text">
                        貳、目的
                    </p>
                    <p class="fw-bold lh-base mb-4">
                        針對現代社會主要初期疾病徵候-高血壓、高血脂、高膽固醇之代謝 症候群引發之各種疾病，乃至於心理及生理交互惡性循環，故行預防 醫療之實質推廣達國民身心健康，減低國家醫療資源浪費及醫藥氾 濫，致減少國民罹身心疾病、殘障與死亡率，以達成促進全民健康與 提升生命品質之目的。
                    </p>

                </div>
                <div class="col-md-12">
                    <table class="table table-bordered lh-base">
                        <thead class="table-light">
                            <tr >
                                <th class="text-center" colspan="5">順勢醫療學院實施期程表</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th class="w-25">階段1</th>
                                <th class="w-25">階段2</th>
                                <th class="w-25">階段3</th>
                                <th>備考</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>近程半年</td>
                                <td>人才篩選及培養組織順勢療法小團隊</td>
                                <td>1.配合政府會議活動宣導 2.各鄉村里舉辦說明會</td>
                                <td>辦理社區義診活動</td>
                                <td>健保局、國健局</td>
                            </tr>
                            <tr>
                                <td>中程一年</td>
                                <td>辦理三高之代謝症候群治療</td>
                                <td>辦理精神疾病治療</td>
                                <td>辦理罕見病患治療</td>
                                <td>國健局、衛生署</td>
                            </tr>
                            <tr>
                                <td>遠程一年</td>
                                <td>申請天然順勢醫療健保體制</td>
                                <td>綠建築順勢醫療學院軟、硬體建設</td>
                                <td>1.申請國家醫療預算各項經費 2.辦理國際會議</td>
                                <td>內政部、含營建署</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="my-5 p-3 content-item" id="qigong" style="display: none;">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <h2 class="title mb-3">
                        <span class="ms-5">第9式 甩手式</span>
                    </h2>
                    <div class="slider-for">
                        <div>
                            <video controls="controls" width="100%" height="" poster="http://www.dyfv.org.tw/upload/mov/mov_74.jpg">
                                <source src="./images/74.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div >
                            <video controls="controls" width="100%" height="" poster="http://www.dyfv.org.tw/upload/mov/mov_73.jpg">
                                <source src="./images/73.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div>
                            <video controls="controls" width="100%" height="" poster="http://www.dyfv.org.tw/upload/mov/mov_68.jpg">
                                <source src="./images/68.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div >
                            <video controls="controls" width="100%" height="" poster="http://www.dyfv.org.tw/upload/mov/mov_69.jpg">
                                <source src="./images/69.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="slider-nav mt-2">
                        <a href="" class="card m-1">
                            <img src="./images/mov_74.jpg" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">第9式 甩手式</p>
                            </div>
                        </a>
                        <a href="" class="card m-1">
                            <img src="./images/mov_73.jpg" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">第8式 轉腰式</p>
                            </div>
                        </a>
                        <a href="" class="card m-1">
                            <img src="./images/mov_68.jpg" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">第3式 轉臂式</p>
                            </div>
                        </a>
                        <a href="" class="card m-1">
                            <img src="./images/mov_69.jpg" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">第4式 大灌頂</p>
                            </div>
                        </a>
                        <a href="" class="card m-1">
                            <img src="./images/mov_74.jpg" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">第9式 甩手式</p>
                            </div>
                        </a>
                        <a href="" class="card m-1">
                            <img src="./images/mov_73.jpg" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">第8式 轉腰式</p>
                            </div>
                        </a>
                        <a href="" class="card m-1">
                            <img src="./images/mov_68.jpg" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">第3式 轉臂式</p>
                            </div>
                        </a>
                        <a href="" class="card m-1">
                            <img src="./images/mov_69.jpg" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">第4式 大灌頂</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <h2 class="title mb-3">
                        <span class="ms-5">慈善義賣</span>
                    </h2>
                    <div class="sale_carousel">
                        <a href="" class="card m-1">
                            <img src="./images/medical-stone.gif" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">麥飯石</p>
                            </div>
                        </a>
                        <a href="" class="card m-1">
                            <img src="./images/10.gif" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">引擎保護劑</p>
                            </div>
                        </a>
                        <a href="" class="card m-1">
                            <img src="./images/cofe.gif" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">低因有機精品咖啡</p>
                            </div>
                        </a>
                        <a href="" class="card m-1">
                            <img src="./images/tea.gif" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">高兒茶素-羽冠茶</p>
                            </div>
                        </a>
                        <a href="" class="card m-1">
                            <img src="./images/16.png" class="card-img-top p-2" alt="">
                            <div class="card-body py-2">
                                <p class="card-text">道緣五明機油</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>




<script>


    function changeContent(name) {
         // 隱藏所有的 content-item
            $('.content-item').hide();
        // 根據傳入的 name 顯示相應的內容
        $('#' + name).show();

        $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav'
        });

        $('.slider-nav').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: true,
            // centerMode: true,
            focusOnSelect: true
        }); 

        $('.sale_carousel').slick({
            dots: true,
            speed: 1000,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 2,
            autoplay: true,
            infinite: true,
            arrows: false,
        });
    }

           //內頁黃色nav 點擊錨點換色
        $('#navbarNav2 .nav-link').on('click',function () {
            $('#navbarNav2 .nav-link').removeClass('active');
            $(this).addClass('active');
        })





</script>