<div class="notification container px-4 " style="margin-bottom: 150px;">
    <div class="row">
        <div class="col-12 ">
            <div class="text-area mb-5">
                <p class="mb-4 text-center">嘉義縣政府陳情系統使用規則及個人資料蒐集告知書</p>
                <div class=" box">
                    <p class="mb-3 text-center">壹、使用規則</p>
                    <span class="mb-4 indent-title-25">
                        一、
                        依據「嘉義縣政府加強人民陳情案件管制作業要點」規定：人民陳情以書面為之者，包括電子郵件及傳真等在內，應載明具體陳情內容、真實姓名及聯絡方式。如未提供上述資料將不予處理，本資料將提供承辦人參考。
                    </span>
                    <span class="mb-4 indent-title-25">
                        二、
                        案件確定成立後，權管機關將於收件之次日起七個工作天內回復(不含週六、週日及例假日或因天災及其他不可抗力因素所致之停止上班日)，辦理機關得依案情複雜程度辦理展期，您可點選回覆信件查詢網頁來查詢案件處理情形。
                    </span>
                    <span class="mb-4 indent-title-25">
                        三、
                        請您提供正確的個人基本資料（包含姓名、電話、地址與電子信箱等），以利系統有效寄發確認信、案件編號與回復處理結果。如未填具真實姓名或相關資料，因而引發之法律責任，當事人應負全責。
                    </span>
                    <span class="mb-4 indent-title-25">
                        四、 發送電子郵件確認信，乃為確認您所提供之個人資料無誤並防止遭他人冒用，驗證通過始完成受理程序，請於收到系統發出的確認信後７天內進行確認，否則該案件系統將不予受理。
                    </span>
                    <span class="mb-4 indent-title-25">
                        五、 您所使用之電郵服務伺服器，可能基於資訊安全防護阻擋系統自動發信。因此於案件反映後，如未收到確認信，請查詢您的電子信箱垃圾信件夾，並移至一般信件夾後進行確認。
                    </span>
                    <span class="mb-4 indent-title-25">
                        六、 請儘量以一案件反映一件事情，以利案件處理，若有二件以上事情，請分別發送。
                    </span>
                    
                </div>
                <div class="box mt-5">
                    <p class="mb-3 text-center">貳、個人資料蒐集告知書</p>
                    <span class="mb-4">
                        嘉義縣政府（以下簡稱本府）依個人資料保護法之規定，告知臺端有關本府陳情系統（以下稱系統）對個人資料之蒐集、處理、利用等事項。請詳細閱讀以下個人資料保護措施及注意事項。
                        若臺端未滿20歲，應於臺端法定代理人閱讀、瞭解並同意本聲明之所有內容規定後，方得使用系統服務，但若臺端已使用接受系統服務，則視為已取得法定代理人之同意，並遵守以下所有規範。
                    </span>
                    <span class="mb-4 indent-title-25">
                        一、適用範圍
                        <br>
                        <span class="ms-4">(一)使用系統服務時蒐集之臺端個人資料。</span>
                        <span class="ms-4">(二)不適用於系統以外的相關連結網站，也不適用於非本系統所委託或參與管理的人員。</span>
                    </span>
                    <span class="mb-4 indent-title-25">
                        二、個人資料蒐集目的
                        <br>
                        <span class="ms-4">(一)進行系統案件登錄、聯繫、處理、回復及滿意度調查等需求。</span>
                        <span class="ms-4">(二)進行個人資料解讀與分析，供本府推動處務及提升服務品質參考。</span>
                    </span>
                    <span class="mb-4 indent-title-25">
                        三、蒐集之個人資料之範圍：姓名、電子信箱、聯絡電話及使用系統之IP及時間等。
                    </span>
                    <span class="mb-4 ">
                        四、個人資料利用之期間、地區、對象及方式
                        <br>
                        <span class="ms-4">(一)期間：於蒐集目的之存續期間或因執行業務所需保存期間內。</span>
                        <span class="ms-4">(二)地區：個人資料將用於本府提供服務之地區。</span>
                        <span class="ms-4">(三)對象：本府（含受本府委託處理事務之公務及非公務機關）。</span>
                        <span
                            class="ms-4 ">(四)方式：本府會將蒐集的個人及案件資料內容，以自動化機器或其他非自動化之方式進行統計與分析，分析結果將以統計後的數據或說明文字呈現，除供內部研究外，並將視需要公布該數據及說明文字，但不涉及特定個人之資料。</span>
                    </span>
                    <span class="mb-4 ">
                        五、保護措施
                        <br>
                        <span
                            class="ms-4">臺端個人資料，將提供本府相關承辦人在符合個人資料保護法之特定目的情形下蒐集、處理及利用。另配合司法單位合法的調查或符合個人資料保護法之特定目的外利用規定（個人資料保護法第16條），本府會從資料庫查詢及提供個人資料予相關單位或人士。</span>
                    </span>
                    <span class="mb-4 indent-title-25">
                        六、依個人資料保護法規定，就本府保有臺端之個人資料，可行使以下權利：
                        <br>
                        <span class="ms-4">(一)查詢、請求閱覽個人資料或請求製給個人資料複製本。</span>
                        <span class="ms-4">(二)請求補充或更正個人資料。</span>
                        <span class="ms-4">(三)請求停止蒐集、處理或利用及請求刪除個人資料，惟本府依法令規定或執行業務所必須者，得不依臺端請求辦理。</span>
                    </span>
                    <span class="mb-4 ">
                        七、注意事項：
                        <br>
                        <span class="ms-4">(一)請臺端注意個人電腦、網路傳輸環境安全性，避免他人有機會讀取個人資料。</span>
                        <span
                            class="ms-4">(二)臺端可自由選擇是否提供個人資料，如不提供，恕無法提供本系統相關服務，亦無法維護臺端權益。若臺端提供之資料，經檢舉或本府發現不足以確認臺端身分，或有冒用、盜用、資料不實等情形，本府有權停止提供服務，並對臺端權益損失，不負相關賠償責任。</span>
                    </span>
                    <span class="mb-4 indent-title-25">
                        八、本府保留隨時修訂本個人資料保護法之權利，內容修訂時將於陳情系統網站公布，不另作個別通知。
                    </span>
                </div>
                <div class="I_agree text-center mt-4">
                    <input class="styled-checkbox" id="agree" type="checkbox" value="">
                    <label for="agree" class="fw-bold">我已閱讀並同意上述規則及告知書</label>
                </div>
                <div class="text-center">
                    <a class="btn mt-4 main_orange disabled JQ_confirm " title="前往陳情表單填寫"
                        href="javascript:void(0);" onclick="changeForm('notification_form')">
                        確 認
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //確認鍵
    $('.I_agree').on('click', function () {
        if ($('#agree').is(":checked")) {
            $('.JQ_confirm').removeClass('disabled');
        } else {
            $('.JQ_confirm').addClass('disabled');
        }
    });

</script>