<div class="notification_form container px-4 " style="margin-bottom: 150px;">
    <form>
        <div class="row">
            <p class="mb-5 text-center title">陳情表單確認</p>
            <div class="step text-center mb-4">
                <span class="badge rounded-circle">1</span>
                <span>陳情表單填寫</span>
                <i class="fa-solid fa-minus mx-2"></i>
                <span class="badge active rounded-circle">2</span>
                <span class="text active ">陳情表單確認</span>
            </div>

            <div class="col-md-12 mb-3">
                <label for="name" class="form-label fw-bold"><span class="red">*</span> 姓名：</label>
                <input class="form-control" id="name" disabled>
            </div>
            <div class="col-md-12 mb-3">
                <label for="phone" class="form-label fw-bold">聯絡電話：</label>
                <input class="form-control" id="phone" disabled>
            </div>
            <div class="col-md-12 mb-3">
                <label for="email" class="form-label fw-bold"><span class="red">*</span> E-mail：</label>
                <input class="form-control " id="email" value="" disabled>
            </div>
            <hr class="mt-4 mb-5">
            </hr>
            <div class="col-md-12 mb-3">
                <label for="type" class="form-label fw-bold"><span class="red">*</span> 陳情類型：</label>
                <select id="type" class="form-select" disabled>
                    <option></option>
                </select>
            </div>
            <div class="col-md-12 mb-3">
                <label for="city" class="form-label fw-bold"><span class="red">*</span> 陳情鄉鎮市：</label>
                <select id="city" class="form-select" disabled>
                    <option></option>
                </select>
            </div>
            <div class="col-md-12 mb-3">
                <label for="address" class="form-label fw-bold">陳情案件地址：</label>
                <input class="form-control" id="address" disabled>
            </div>
            <div class="col-md-12 mb-3">
                <label for="title" class="form-label fw-bold"><span class="red">*</span> 主旨： </label>
                <input class="form-control" id="title" disabled>
            </div>
            <div class="col-md-12 mb-3">
                <label for="text" class="form-label fw-bold"><span class="red">*</span> 內容：</label>
                <textarea class="form-control " rows="6" disabled></textarea>
            </div>
            <div class="col-md-12 mb-3">
                <label for="link" class="form-label fw-bold">網址連結 : </label>
                <input class="form-control" id="link" disabled>
            </div>
            <div class="col-md-12 mb-3">
                <label for="file" class="form-label fw-bold">附檔 : </label>
                <div class="files my-3">
                    <span class="me-2">1.</span>
                    <i class="fa-solid fa-file main_orange_text"></i>
                    <span class="ms-1 me-4">XXXX.doc</span>
                </div>
                <div class="files my-3">
                    <span class="me-2">2.</span>
                    <i class="fa-solid fa-file main_orange_text"></i>
                    <span class="ms-1 me-4">OOOO.jpg</span>
                </div>
            </div>
            <div class="alert alert-danger" role="alert">
                錯誤訊息區
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <a href="javascript:void(0);" class="btn main_orange" title="提交" data-bs-toggle="modal"
                    data-bs-target="#modal_main">提交</a>
                <a class="btn btn-secondary ms-3" title="回上一步"
                    href="javascript:void(0);" onclick="changeForm('notification_form')">
                    回上一步
                </a>
            </div>
        </div>
    </form>
</div>

<script>
    //email錯誤
    $('#email').on('input', function () {
        if ($(this).val() == '') {
            $(this).removeClass('error')
            $('.JQ_error_text').hide();
        } else {
            $(this).addClass('error')
            $('.JQ_error_text').show();
        }
    })
</script>