<div class="notification_form container px-4" style="margin-bottom: 150px;">
    <form>
        <div class="row">
            <p class="mb-5 text-center title">陳情表單填寫</p>
            <div class="step text-center mb-4">
                <span class="badge active rounded-circle">1</span>
                <span class="text active ">陳情表單填寫</span>
                <i class="fa-solid fa-minus mx-2"></i>
                <span class="badge rounded-circle">2</span>
                <span>陳情表單確認</span>
            </div>

            <div class="col-md-12 mb-3">
                <label for="name" class="form-label fw-bold"><span class="red">*</span> 姓名：</label>
                <input class="form-control" id="name">
            </div>
            <div class="col-md-12 mb-3">
                <label for="phone" class="form-label fw-bold">聯絡電話：</label>
                <input class="form-control" id="phone">
            </div>
            <div class="col-md-12 mb-3">
                <label for="email" class="form-label fw-bold"><span class="red">*</span> E-mail：</label>
                <input class="form-control error" id="email" value="111">
                <span class="JQ_error_text error_text red ">電子信箱格式錯誤</span>
            </div>
            <hr class="mt-4 mb-5">
            </hr>
            <div class="col-md-12 mb-3">
                <label for="type" class="form-label fw-bold"><span class="red">*</span> 陳情類型：</label>
                <select id="type" class="form-select">
                    <option></option>
                </select>
            </div>
            <div class="col-md-12 mb-3">
                <label for="city" class="form-label fw-bold"><span class="red">*</span> 陳情鄉鎮市：</label>
                <select id="city" class="form-select">
                    <option>請選擇</option>
                    <option>番路鄉</option>
                    <option>梅山鄉</option>
                    <option>竹崎鄉</option>
                    <option>阿里山鄉</option>
                    <option>中埔鄉</option>
                    <option>大埔鄉</option>
                    <option>水上鄉</option>
                    <option>鹿草鄉</option>
                    <option>太保市</option>
                    <option>朴子市</option>
                    <option>東石鄉</option>
                    <option>六腳鄉</option>
                    <option>新港鄉</option>
                    <option>民雄鄉</option>
                    <option>大林鎮</option>
                    <option>溪口鄉</option>
                    <option>義竹鄉</option>
                    <option>布袋鎮</option>
                </select>
            </div>
            <div class="col-md-12 mb-3">
                <label for="address" class="form-label fw-bold"> 陳情案件地址：</label>
                <input class="form-control" id="address">
            </div>
            <div class="col-md-12 mb-3">
                <label for="title" class="form-label fw-bold"><span class="red">*</span> 主旨： <span
                        class="form-text">(字數限制50字內)</span></label>
                <input class="form-control" id="title">
            </div>
            <div class="col-md-12 mb-3">
                <label for="text" class="form-label fw-bold"><span class="red">*</span> 內容：</label>
                <textarea class="form-control " rows="6"></textarea>
            </div>
            <div class="col-md-12 mb-3">
                <label for="link" class="form-label fw-bold">網址連結 : </label>
                <input class="form-control" id="link">
            </div>
            <div class="col-md-12 mb-3">
                <label for="file" class="form-label fw-bold">附檔 : <span class="form-text">(僅支援jpg, jpeg, gif, png, doc,
                        docx, xls, xlsx, txt, ppt, pptx, pdf, odf, odg, odp, ods,
                        odt，最多上傳10個檔案，檔案總量最多不可大於40MB)</span></label>
                <div class="files my-3">
                    <span class="me-2">1.</span>
                    <i class="fa-solid fa-file main_orange_text"></i>
                    <span class="ms-1 ">XXXX.doc</span>
                    <button class="border-0 bg-transparent"><i class="fa-solid fa-trash-can "></i></button>
                </div>
                <div class="files my-3">
                    <span class="me-2">2.</span>
                    <i class="fa-solid fa-file main_orange_text"></i>
                    <span class="ms-1 ">OOOO.jpg</span>
                    <button class="border-0 bg-transparent"><i class="fa-solid fa-trash-can "></i></button>
                </div>
                <div class="">
                    <div action="/file-upload" class="dropzone no-margin dz-clickable" style="min-height:150px">
                        <div class="dz-default dz-message"><span>將檔案拖放到這裡</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-3">
                <label for="verify_code" class="form-label fw-bold"><span class="red">*</span> 驗證碼 : </label>
                <div class="d-flex align-items-center">
                    <input class="form-control" id="verify_code" style="max-width: 150px;">
                    <img class="ms-2" src="./images/verify_code.gif" alt="驗證碼" style="width: 100px;">
                    <i class="fa fa-refresh d-block ms-2" aria-hidden="true" style="cursor: pointer;"></i>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <a class="btn main_orange " href="javascript:void(0);" onclick="changeForm('notification_form_confirm')">
                    下一步
                </a>
                <a class="btn btn-secondary ms-3 " href="javascript:void(0);" onclick="changeForm('notification')">
                    取消
                </a>
            </div>
        </div>
    </form>
</div>
<script>
    //email錯誤
    $('#email').on('input', function () {
        if ($(this).val() == '') {
            $(this).removeClass('error')
            $('.JQ_error_text').hide();
        } else {
            $(this).addClass('error')
            $('.JQ_error_text').show();
        }
    })

</script>