<div class="notification_form container px-4 " style="margin-top: 3%; margin-bottom: 200px;">
    <form>
        <div class="row">
            <p class="text-center title" style="margin-bottom: 80px;">發送認證信件</p>
            <img src="./images/email_send.png" alt="認證信件icon" style="width: 160px; margin: 0 auto; ">
            <p class=" mt-5 text-center fw-bold fs-4" style="margin-bottom: 50px; line-height: 1.5rem;">
                感謝您的意見，<span class="main_orange_text">請於 7天 內至台端所填寫之電子信箱點選認證信件。</span></p>
            <div class="col-md-12 d-flex justify-content-center">
                <a class="btn main_orange text-nowrap" href="javascript:void(0);" title="回首頁" onclick="changeForm('index')">
                    回首頁
                </a>
                <a class="btn btn-secondary ms-3 text-nowrap" href="javascript:void(0);"
                    title="提交其他案件" onclick="changeForm('notification')">
                    提交其他案件
                </a>
            </div>
        </div>
    </form>
</div>
<script>
    //email錯誤
    $('#email').on('input', function () {
        if ($(this).val() == '') {
            $(this).removeClass('error')
            $('.JQ_error_text').hide();
        } else {
            $(this).addClass('error')
            $('.JQ_error_text').show();
        }
    })

</script>