<div class="container petition_process px-4 " style="margin-bottom: 200px;">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 process_img">
            <img src="./images/process.png" alt="流程圖">
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <h2 class="mb-5">服務流程</h2>
            <div class="text-area mb-5">
                <p class="main_blue_text mb-3">案件陳情服務系統作業方式</p>
                <span class="mb-4 indent-title-1">
                    1. 請您於投書時提供正確之 E-MAIL 帳號、電話、姓名，俾系統自動回復您信件收件編號及回復內容亦將以 E-MAIL 的方式傳送給您。
                </span>
                <span class="mb-4 indent-title-1">
                    2. 查詢回復內容時，請您透過系統自動提供之收件編號及E-MAIL，於「案件查詢」選擇鍵中進行查閱。
                </span>
                <span class="mb-4 indent-title-1">
                    3. 案件之處理依「行政院及所屬各機關處理人民陳情案件要點」辦理。
                </span>
            </div>
            <div class="text-area mb-5">
                <p class="main_blue_text mb-3">未確認函之處理</p>
                <span>
                    本府為避免所處理的信件無法傳送當事人，甚或信箱遭冒用之情形，將會在受理分案後回傳收件編號後分派至相關機關處理，若您一直無法收到收件編號函，可能是您填寫的電子信箱有誤，建議您重新檢視並再次傳送。
                </span>
            </div>
            <div class="text-area ">
                <p class="main_blue_text mb-3">流程說明</p>
                <span>
                    步驟一、陳情民眾於案件陳情系統填入正確資料後等待確認郵件。
                </span>
                <span>
                    步驟二、點選確認郵件後，會依照項目別分案給承辦單位。
                </span>
                <span>
                    步驟三、承辦單位於處理後，系統將寄出處理情形通知陳情民眾
                </span>
            </div>
        </div>
    </div>
</div>

<script>
</script>