<div class="container search_page px-4 " style="margin-bottom: 200px;">
    <form class="data_list">
        <div class="row">
            <p class="mb-5 text-center title">此案件相關承辦單位</p>
            <div class="table-responsive">
                <table class="table table-bordered text-nowrap">
                    <thead>
                        <tr>
                            <th class="text-left fw-bold" style="border-radius: 5px 0 0 0 ; line-height: 28px;">案件編號</th>
                            <th class="text-left fw-bold" style="line-height: 28px;">回復機關</th>
                            <th class="text-left fw-bold" style="border-radius:  0 5px 0 0; line-height: 28px;">動作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">1111010001-1</td>
                            <td class="text-left">${回復機關1}</td>
                            <td class="text-left">
                                <a href="javascript:void(0);" class="btn btn_view"
                                    title="檢視" onclick="changeForm('search_view')">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">1111009001-2</td>
                            <td class="text-left">${回復機關2}</td>
                            <td class="text-left">
                                <a href="javascript:void(0);" class="btn btn_view"
                                    title="檢視" onclick="changeForm('search_view')">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<script>
</script>