<div class="search_page container px-4 " style="margin-bottom: 150px;">
    <form>
        <div class="row">
            <p class="mb-5 text-center title">案件查詢</p>
            
            <div class="col-md-12 mb-3">
                <label for="name" class="form-label fw-bold"><span class="red">*</span> 案件編號：</label>
                <input  class="form-control" id="name">
            </div>
            <div class="col-md-12 mb-3">
                <label for="phone" class="form-label fw-bold"><span class="red">*</span> 電子郵件：</label>
                <input  class="form-control" id="phone">
            </div>
            <div class="col-md-4 mb-3">
                <label for="verify_code" class="form-label fw-bold"><span class="red">*</span> 驗證碼 : </label>
                <div class="d-flex align-items-center">
                    <input  class="form-control" id="verify_code" style="max-width: 150px;">
                    <img class="ms-2" src="./images/verify_code.gif" alt="驗證碼" style="width: 100px;">
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="alert alert-warning " role="alert">
                    訊息顯示區
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <button type="button" class="btn main_green btn_search" onclick="changeForm('search_list')">查詢</button>
            </div>
        </div>
    </form>
</div>
<script>
</script>