<div class="container search_page px-4 " style="margin-bottom: 150px;">
    <form style="padding:2rem 3rem;">
        <p class="mb-5 text-center title">案件檢視</p>
        <div class="row">
            <div class="col-md-12 sec_title mb-2  main_green_text fs-5 fw-bold">
                陳情相關資訊
            </div>
        </div>

        <div class="row inside_form mb-2 ">
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                案件編號
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4 ">
                ${陳情信.案件編號}
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                成案時間
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${關卡紀錄.成案時間}
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                Email帳號
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${陳情信.Email帳號}
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                姓名
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${陳情信.姓名}
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                聯絡電話
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${陳情信.聯絡電話}
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                陳情類型
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${陳情信.陳情類型}
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                陳情鄉鎮市
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${陳情信.陳情鄉鎮市}
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                陳情案件地址
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${陳情信.陳情案件地址}
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                主旨
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${陳情信.主旨}
                <br>
                (多行顯示)
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                內容
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${陳情信.內容}
                <br>
                (多行顯示)
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                網址連結
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${陳情信.網址連結}
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                信件附檔
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${陳情信.信件附檔}
            </div>
            <div class="col-md-4 inside_form_title py-2 py-md-4">
                案件狀態
            </div>
            <div class="col-md-8 inside_form_info py-2 py-md-4">
                ${陳情信.案件狀態經過程式轉換}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 sec_title mt-5 mb-2 main_green_text fs-5 fw-bold">
                案件回復內容
            </div>
            <div class="row inside_form mb-2">
                <div class="col-md-4 inside_form_title py-2 py-md-4">
                    回復機關
                </div>
                <div class="col-md-8 inside_form_info py-2 py-md-4">
                    ${陳情信.分案承辦機關}
                </div>
                <div class="col-md-4 inside_form_title py-2 py-md-4">
                    回復陳情人內容
                </div>
                <div class="col-md-8 inside_form_info py-2 py-md-4">
                    <span class="mb-3 d-block">${關卡紀錄.回復時間1}</span>
                    <span class="mb-3 d-block">${陳情信.回復陳情人內容1}</span>
                    <span class="mb-3 d-block">${陳情信.回復附檔1}</span>
                    <span class="mb-3 d-block">${聯絡窗口}</span>
                    <span class="mb-3 d-block">${聯絡電話}</span>
                    <span class="mb-3 d-block">(多行顯示)</span>
                    <hr>
                    <span class="mb-3 d-block">${關卡紀錄.回復時間2}</span>
                    <span class="mb-3 d-block">${陳情信.回復陳情人內容2}</span>
                    <span class="mb-3 d-block">${陳情信.回復附檔2}</span>
                    <span class="mb-3 d-block">${聯絡窗口}</span>
                    <span class="mb-3 d-block">${聯絡電話}</span>
                    <span class="mb-3 d-block">(多行顯示)</span>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <button type="button"class="btn main_green btn_search" onclick="changeForm('search_list')">返回</button>
            </div>
    </form>
</div>
<script>

</script>